.head-container {
    box-sizing: border-box;
    width: auto;
    min-height: 300px;
    background-color: #1f2937;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    /* flex-wrap: nowrap; */
    padding: 10px;
    margin: 20px;
}

.nav-container a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}
.nav-container .home {
    flex: 1;
    font-size: 24px;
}

/* article container */

.article-container {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin: 50px;
    flex-direction: row;
}

.article-container .article-left {
    flex: 1;
    height: fit-content;
    color: white;
}

.article-container .article-right {
    flex: 1;
    height: fit-content;
    color: white;
}

.article-container .article-left .head-article {
    font-size: 48px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    padding: 5px;
}

.article-container .article-right .head-image {
    background-color: grey;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 70px;
    background-image: url(/home/alex/Dropbox/tor/repos/landing-page/img/head-image.jpeg);
    background-repeat: no-repeat;
}

.body-container {
    box-sizing: border-box;
    width: auto;
    min-height: 300px;
    background-color: white;
}

.body-container .body-info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
}

.body-container .body-image {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.body-container .body-image .image-body {
    border: 5px solid #3882f6;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    border-radius: 15px;
    margin: 20px;
}

.body-container .captions {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}

.body-container .captions .caption {
    /* width: auto; */
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

/*testimonial section*/
.testimonial {
    box-sizing: border-box;
    width: auto;
    min-height: 300px;
    background-color: #e5e7eb;
}

.testimonial .testimonial1 {
    display: flex;
    justify-content: center;
    padding: 100px;
    padding-bottom: 20px;
    /* margin: 20px; */
    width: auto;
    font-style: italic;
}

.testimonial .testimonial2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    font-weight: bold;
}

.footer-container {
    display: flex;
    flex-direction: row;
    padding: 70px;
    width: auto;
    justify-content: center;
}

.cta-footer {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.cta-footer .footer-text {
    padding: 10px;
    margin: 10px;
    color: white;
}

.cta-footer .footer-button {
    padding: 10px;
    margin: 10px;    
}

.cta-footer .footer-text .footer1 {
    font-weight: bold;
}